<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="../assets/css/inscription.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bloc">
        <h1>Inscription</h1>

        <div class="form_bloc">
            <p>Nom :</p>
            <input type="text" id="Nom" name="Nom"> 
        </div>

        <div class="form_bloc">
            <p>Prénom :</p>
            <input type="text" id="Nom" name="Nom"> 
        </div>

        <div class="form_bloc">
            <p>Adresse E-mail :</p>
            <input type="text" id="Nom" name="Nom"> 
        </div>

        <div class="form_bloc">
            <p>Mot de passe :</p>
            <input type="password" id="mdp" name="mdp"> 
        </div>

        <div class="form_bloc">
            <p>Confirmation du mot de passe :</p>
            <input type="password" id="mdp2" name="mdp2"> 
        </div>

        <div class="btn_Inscription">
            <p id="1">S'INSCRIRE</p>
        </div>

        <div class="se_connecter">
            <p>Se Connecter</p></label>
        </div>

        

    </div>
</body>
</html>